<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>951619303358-40fcc76ipcv47qgihg6ucpsemt8ugeg0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951619303358-40fcc76ipcv47qgihg6ucpsemt8ugeg0</string>
	<key>API_KEY</key>
	<string>AIzaSyBRr0CAI-BrVJFW3Q0ewfVC1DVutCy18tM</string>
	<key>GCM_SENDER_ID</key>
	<string>951619303358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.zollipaul.battleships</string>
	<key>PROJECT_ID</key>
	<string>battleships-fc8c2</string>
	<key>STORAGE_BUCKET</key>
	<string>battleships-fc8c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951619303358:ios:6b0855162eaf6fc2</string>
	<key>DATABASE_URL</key>
	<string>https://battleships-fc8c2.firebaseio.com</string>
</dict>
</plist>